<div class="jumbotron jumbotron-fluid bg-warning">
  <div class="container">
    <h1 class="display-3">Newscrapper</h1>
    <p>For some of the latest articles from the NY Times</p>
    <a href="/scrape" class="btn btn-primary">I scrape new articles</a>
    <a href="/saved" class="btn btn-success">See Saved Articles</a>
  </div>
</div>
<main class="container-fluid" id="linkspace">
  {{#each articles}}
    {{> article}}
  {{/each}}
</main>
